<% if @contest.errors.any? %>
  <% @contest.errors.full_messages.each do |message| %>
    <div class="alert alert-danger" role="alert"><%= message %></div>
  <% end %>
<% end %>

<%= form_for(@contest) do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :instructions %>
    <span class="help-block">You may use <a href="http://kramdown.gettalong.org/syntax.html">Markdown</a> to format the instructions.</span>
    <%= f.text_area :instructions, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :permalink %>
    <%= f.text_field :permalink, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :start %>
    <%= f.datetime_field :start, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :end %>
    <%= f.datetime_field :end, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :visibility %>
    <%= f.select(:visibility,
          options_for_select(Contest.possible_visibilities.map { |k,v| [v, k]}, [@contest.visibility]),
          {},
          :class => "form-control"
        ) %>
  </div>

  <div class="form-group">
    <%= f.label :participation %>
    <%= f.select(:participation,
          options_for_select(Contest.possible_participations.map { |k,v| [v, k]}, [@contest.participation]),
          {},
          :class => "form-control"
        ) %>
  </div>

  <div class="form-group">
    <%= f.label :problem_ids, "Problems" %>
    <%= f.select(:problem_ids,
      options_for_select(Problem.contest_problems.map { |problem| [problem.title, problem.id]}, @contest.problem_ids),
      {},
      :class => "form-control", :multiple => true
      ) %>
  </div>

  <div class="form-group">
    <%= f.label :invited_user_ids, "Invited users" %>
    <%= f.select(:invited_user_ids,
      options_for_select(User.all.map { |user| [user.username, user.id]}, @contest.invited_user_ids),
      {},
      :class => "form-control", :multiple => true
      ) %>
  </div>

  <% if @contest.id %>
    <%= f.submit "Save", :class => "btn btn-primary" %>
  <% else %>
    <%= f.submit "Create", :class => "btn btn-primary" %>
  <% end %>
<% end %>
