<% unless request.xhr? %>
  <h1>Leaderboard for <%= @contest.title %></h1>
<% end %>

<%= link_to "Download CSV", leaderboard_path(@contest, :format => "csv") %>

<% problems = @contest.problems.sort { |a, b| a.total_points <=> b.total_points } %>

<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <th>User</th>
      <% problems.each do |problem| %>
        <th><%= link_to "#{problem.title} (#{problem.total_points})", problem %></th>
      <% end %>
      <th>Total points</th>
    </thead>

    <tbody>
      <% @contest.leaderboard.each do |row| %>
        <tr>
          <td><%= link_to row[:user].username, user_submissions_path(row[:user]) %></td>
          <% problems.each do |problem| %>
            <td><%= row[:problems][problem.id] || 0 %></td>
          <% end %>
          <td><%= row[:total_score] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
