<% if @contest.errors.any? %>
  <% @contest.errors.full_messages.each do |message| %>
    <div class="alert alert-danger" role="alert"><%= message %></div>
  <% end %>
<% end %>

<h1>New Contest</h1>

<%= form_for(@contest) do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :start %>
    <%= f.datetime_field :start, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :end %>
    <%= f.datetime_field :end, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :problem_ids, "Problems" %>
    <%= f.select(:problem_ids,
      options_for_select(Problem.all.map { |problem| [problem.title, problem.id]}),
      {},
      :class => "form-control", :multiple => true
      ) %>
  </div>

  <div class="form-group">
    <%= f.label :invited_user_ids, "Invited users" %>
    <%= f.select(:invited_user_ids,
      options_for_select(User.all.map { |user| [user.email, user.id]}),
      {},
      :class => "form-control", :multiple => true
      ) %>
  </div>

  <%= f.submit "Create", :class => "btn btn-primary" %>
<% end %>
