<h1><%= @contest.title %></h1>

<p>Status: <%= @contest.status %></p>
<p><%= link_to "Leaderboard", leaderboard_path(@contest) %></p>

<% if signed_in? %>
  <% if @contest.participants.include?(current_user) %>
    <p>You are a participant.</p>
  <% elsif @contest.invited_users.include?(current_user) %>
    <p>
      You are invited.
    </p>
  <% end %>

  <% if @contest.can_participate_by?(current_user) %>
    <p><%= link_to "Participate", participate_contest_path(@contest), :method => :post %></p>
  <% end %>
<% end %>

<% if signed_in? and current_user == @contest.creator %>
<h2>Invited Users</h2>
<ul>
  <% @contest.invited_users.each do |user| %>
    <li><%= link_to user.name, user %></li>
  <% end %>
</ul>

<h2>Participants</h2>
<ul>
  <% @contest.participants.each do |user| %>
    <li><%= link_to user.name, user %></li>
  <% end %>
</ul>
<% end %>
