<%= form_for(@problem, :html => { "ng-app" => "ProblemForm", "ng-controller" => "ProblemFormController", "problem-id" => @problem.id, "ng-submit" => "saveProblem($event)", "authenticity-token" => form_authenticity_token }) do |f| %>
  <alerts alerts="errors"></alerts>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, :class => "form-control", :required => true, "ng-model" => "problem.title" %>
  </div>

  <div class="form-group">
    <%= f.label :statement %>
    <span class="help-block">You may use <a href="https://help.github.com/articles/github-flavored-markdown" target="_blank">GitHub Flavored Markdown</a> to format the statement.</span>
    <%= f.text_area :statement, :class => "form-control", :required => true, "ng-model" => "problem.statement" %>
  </div>

  <div class="form-group">
    <%= f.fields_for(:permalink, @problem.permalink || Permalink.new) do |ff| %>
      <%= ff.label :url, "Permalink" %>
      <%= ff.text_field :url, :class => "form-control permalink-field", "ng-model" => "problem.permalink_attributes.url" %>
      <%= ff.hidden_field :_destroy, "ng-model" => "problem.permalink_attributes._destroy" %>
    <% end %>
  </div>

  <div class="checkbox">
    <label>
      <%= f.check_box :contest_only, "ng-model" => "problem.contest_only" %> Contest-only
    </label>
  </div>

  <hr>

  <span class="help-block" ng-show="problem.tasks_attributes.length > 1">Hint: Drag the tasks around to reorder the tasks.</span>

  <div ui-sortable ng-model="problem.tasks_attributes" class="tasks-forms">
    <div ng-repeat="task in problem.tasks_attributes">
      <hr ng-show="$index">

      <button type="button" class="close" ng-show="task.id===undefined || task.id===null" ng-click="removeTask($index)">
        <span aria-hidden="true">&times;</span>
        <span class="sr-only">Close</span>
      </button>

      <input type="hidden" ng-model="task.id">

      <div class="form-group">
        <label>Point</label>
        <input type="number" class="form-control" ng-model="task.point">
      </div>

      <div class="form-group">
        <label>Tokens</label>
        <input type="number" class="form-control" ng-model="task.tokens">
      </div>

      <div class="form-group">
        <label>Label</label>
        <input type="text" class="form-control" ng-model="task.label">
      </div>

      <div class="form-group">
        <label>Input generator</label>
        <div ui-ace="{mode: 'ruby', theme: 'monokai', onLoad: aceLoad}" ng-model="task.input_generator" style="height:400px;"></div>
      </div>

      <div class="form-group">
        <label>Grader</label>
        <div ui-ace="{mode: 'ruby', theme: 'monokai', onLoad: aceLoad}" ng-model="task.grader" style="height:400px;"></div>
      </div>

      <div class="checkbox" ng-show="task.id!==undefined && task.id!==null">
        <label>
          <input type="checkbox" ng-model="task._destroy"> Delete
        </label>
      </div>
    </div>
  </div>

  <%= f.button "Add Task", :class => "btn btn-default", :id => "add-task-btn", :type => "button", "ng-click" => "addTask()" %>

  <% if @problem.id %>
    <%= f.submit "Update", :class => "btn btn-primary" %>
  <% else %>
    <%= f.submit "Create", :class => "btn btn-primary" %>
  <% end %>
<% end %>
