<script id="task-template" type="x-tmpl-mustache">
<div class="task-{{task_count}}">
  <button type="button" class="close" data-selector=".task-{{task_count}}"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <div class="form-group">
    <label for="problem_tasks_{{task_count}}_input">Input</label>
    <textarea class="form-control" id="problem_tasks_{{task_count}}_input" name="problem[tasks][{{task_count}}][input]"></textarea>
  </div>
  <div class="form-group">
    <label for="problem_tasks_{{task_count}}_output">Output</label>
    <textarea class="form-control" id="problem_tasks_{{task_count}}_output" name="problem[tasks][{{task_count}}][output]"></textarea>
  </div>
</div>
</script>

<%= form_for(@problem) do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :statement %>
    <%= f.text_area :statement, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :permalink %>
    <%= f.text_field :permalink, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :visibility %>
    <%= f.select(:visibility,
      options_for_select(Problem.possible_visibilities.map { |k,v| [v, k]}),
      {},
      :class => "form-control"
      ) %>
  </div>

  <div class="tasks-forms">
    <% @problem.tasks.each do |task| %>
      <div class="task-<%= task.id %>">
        <button type="button" class="close" data-selector=".task-<%= task.id %>"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <input type="hidden" id="problem_tasks_<%= task.id %>_id" name="problem[tasks][<%= task.id %>][id]" value="<%= task.id %>">
        <div class="form-group">
          <label for="problem_tasks_<%= task.id %>_input">Input</label>
          <textarea class="form-control" id="problem_tasks_<%= task.id %>_input" name="problem[tasks][<%= task.id %>][input]"><%= task.input %></textarea>
        </div>
        <div class="form-group">
          <label for="problem_tasks_<%= task.id %>_output">Output</label>
          <textarea class="form-control" id="problem_tasks_<%= task.id %>_output" name="problem[tasks][<%= task.id %>][output]"><%= task.output %></textarea>
        </div>
      </div>
    <% end %>
  </div>

  <%= f.button "Add Task", :class => "btn btn-default", :id => "add-task-btn" %>

  <% if @problem.id %>
    <%= f.submit "Update", :class => "btn btn-primary" %>
  <% else %>
    <%= f.submit "Create", :class => "btn btn-primary" %>
  <% end %>
<% end %>
