<%= form_for @problem do |f| %>
  <% if @problem.errors.any? %>
    <% @problem.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control", required: true %>
  </div>

  <div class="form-group">
    <%= f.label :statement %>
    <span class="help-block">You may use <a href="https://help.github.com/articles/github-flavored-markdown" target="_blank">GitHub Flavored Markdown</a> to format the statement.</span>
    <%= f.text_area :statement, class: "form-control", required: true %>
  </div>

  <div class="form-group">
    <%= f.label :stub %>
    <div data-react-component="AceEditor"
         data-react-language="python"
         data-react-tab-size="2"
         data-react-name="problem[stub]"
         data-react-value="<%= @problem.stub %>"></div>
  </div>

  <!-- Emptying the link doesn't delete it yet -->
  <div class="form-group">
    <%= f.fields_for(:permalink, @problem.permalink || Permalink.new) do |ff| %>
      <%= ff.label :url, "Permalink" %>
      <%= ff.text_field :url, class: "form-control permalink-field" %>
      <%= ff.hidden_field :_destroy %>
    <% end %>
  </div>

  <div class="checkbox">
    <%= f.label :contest_only do %>
      <%= f.check_box :contest_only %> Contest-only
    <% end %>
  </div>

  <hr>

  <div data-react-component="ProblemTasksForms" data-react-tasks="<%= @problem.tasks.to_json %>"></div>

  <% if @problem.id %>
    <%= f.submit "Update", class: "btn btn-primary" %>
  <% else %>
    <%= f.submit "Create", class: "btn btn-primary" %>
  <% end %>
<% end %>
