<h1>New Problem</h1>
<%= form_for(@problem) do |f| %>
    <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, :class => "form-control" %>
    </div>

    <div class="form-group">
        <%= f.label :statement %>
        <%= f.text_area :statement, :class => "form-control" %>
    </div>

    <div class="form-group">
        <%= f.label :visibility %>
        <%= f.select(:visibility,
            options_for_select(Problem.possible_visibilities.map { |k,v| [v, k]}),
            {},
            :class => "form-control"
            ) %>
    </div>

    <%= f.button "Add Task", :class => "btn btn-default", :id => "add-task-btn" %>
    <%= f.submit "Create", :class => "btn btn-primary" %>
<% end %>
