<div ng-app="ProblemPage" ng-controller="ProblemPage" problem-id="<%= @problem.id %>">
  <div class="header-container">
    <span class="h1">
      <%= @problem.title %>

      <% if @problem.solvers.include?(current_user) %>
        <small><span class="text-success">(Solved)</span></small>
      <% end %>

      <% if @problem.attempted_by?(current_user) %>
        <small>
          <%= render :partial => "point", :locals => { :problem => @problem, :user => current_user } %>
        </small>
      <% end %>

      <% if signed_in? && current_user.admin? %>
        <%= link_to icon("edit"), edit_problem_path(@problem), :class => "btn btn-default pull-right", :title => "Edit" %>
      <% end %>
    </span>
  </div>

  <div class="panel panel-default">
    <div class="panel-body" data-mathjax-source>
      <%= Kramdown::Document.new(@problem.statement).to_html.html_safe %>
    </div>
  </div>

  <% if signed_in? %>
    <div class="form-group">
      <label>Python Code</label>
      <div>
        <button type="button" class="btn btn-default" ng-click="runCode()">Run</button>
        <button type="button" class="btn btn-default" ng-click="runCodeWithTestCases()">Run with Test Cases</button>
      </div>

      <div ui-ace="{mode: 'python', theme: 'monokai'}" ng-model="code" style="height:200px; margin-top: 10px"></div>
      <ul class="list-unstyled">
        <li ng-repeat="log in logs track by $index" ng-class="{ 'text-success': log.type == 'result', 'text-danger': log.type == 'stderr', 'text-warning': log.type == 'system' }">
          <pre class="repl-log"><span ng-show="log.type == 'result'">=> </span>{{ log.message }}</pre>
        </li>
      </ul>
    </div>

    <hr>

    <div class="well" ng-repeat="task in problem.tasks_attributes">
      <div>
        {{ task.input }}
      </div>

      <form action="<%= submissions_path %>" method="post">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="hidden" name="submission[task_id]" ng-value="task.id">

        <div class="form-group">
          <label>Answer</label>
          <textarea class="form-control" ng-model="task.submission.input" name="submission[input]"></textarea>
        </div>

        <p class="help-block" ng-show="isNumber(task.submissions_left)">
          You have {{ task.submissions_left }} submissions left.
        </p>

        <input type="submit" class="btn btn-default" ng-class="{disabled: !task.submission_allowed}">
      </form>
    </div>
  <% else %>
    <p>Please sign in to solve this task.</p>
  <% end %>
</div>
