<% unless signed_in? %>
  <div class="alert alert-warning" role="alert">
    You need to <%= link_to "sign in", signin_path %> or <%= link_to "register", new_user_path %> to solve this task.
  </div>
<% end %>

<div ng-app="ProblemPage" ng-controller="ProblemPage" problem-id="<%= @problem.id %>" authenticity-token="<%= form_authenticity_token %>">

  <alerts alerts="alerts"></alerts>

  <!-- Problem Description -->
    <div class="header-container">
      <span class="h1">
        <%= @problem.title %>

        <small ng-show="problem.attempted && problem.solved"><span class="text-success">(Solved)</span></small>

        <small ng-show="problem.attempted">
          <span ng-class="{'text-success': problem.points_scored == problem.total_points, 'text-danger': problem.points_scored != problem.total_points}">
            ({{ problem.points_scored }} / {{ problem.total_points }})
          </span>
        </small>

        <% if signed_in? && current_user.admin? %>
          <%= link_to icon("edit"), edit_problem_path(@problem), :class => "btn btn-default pull-right", :title => "Edit" %>
        <% end %>
      </span>
    </div>

  <div class="col-md-6 problem-area">
    <div class="panel panel-default">
      <div class="panel-body" data-mathjax-source>
        <%= markdown_to_html(@problem.statement) %>
      </div>
    </div>

    <%= render 'test_cases' %>
  </div>

  <!-- Editor and Terminal -->
  <div class="col-md-6">
    <% if signed_in? %>
      <div class="form-group">
        <label>Python Code</label>
        <div>
          <% if UserAgent.parse(request.env['HTTP_USER_AGENT']).platform == "Macintosh" %>
            <button type="button" class="btn btn-default" title="⌘-B" data-toggle="tooltip" data-placement="left" ng-click="runCode()">Run</button>
          <% else %>
            <button type="button" class="btn btn-default" title="Ctrl-B" data-toggle="tooltip" data-placement="left" ng-click="runCode()">Run</button>
          <% end %>

          <div class="btn-group">
            <button type="button" class="btn btn-default" ng-click="runCodeWithTestCases()">Run on Test Cases</button>
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" ng-if="problem.tasks_attributes.length">
              <span class="caret"></span>
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu" role="menu" ng-if="problem.tasks_attributes.length">
              <li ng-repeat="task in problem.tasks_attributes" ng-click="runCodeWithTestCases($index)" ng-hide="task.json"><a href>Test Case {{ $index + 1 }}</a></li>
            </ul>
          </div>

          <button type="button" class="btn btn-default" ng-click="submitAll()">Submit All Answers</button>

          <span ng-show="savingCode"><i class="fa fa-spinner fa-spin"></i> Saving...</span>
        </div>

        <div class="jsrepl-container">
            <div ui-ace="{mode: 'python', theme: 'monokai', onLoad: aceLoad}" ng-model="code" style="height:400px;"></div>
            <div class="terminal"><interactive-terminal history="terminalHistory"></interactive-terminal></div>
        </div>
      </div>

    <% end %>
  </div>
</div>
