<div class="header-container">
  <span class="h1">
    <%= @problem.title %>

    <% if @problem.solvers.include?(current_user) %>
      <small><span class="text-success">(Solved)</span></small></span>
    <% end %>

  <% if signed_in? && current_user.admin? %>
    <%= link_to icon("edit"), edit_problem_path(@problem), :class => "btn btn-default pull-right", :title => "Edit" %>
  <% end %>
</div>

<p><%= @problem.statement %></p>

<% if signed_in? %>
  <% @problem.tasks.each do |task| %>
    <div class="well">
    <%= form_for(:submission, :url => submissions_path) do |f| %>
      <pre><%= task.input %></pre>

      <%= f.hidden_field(:task_id, :value => task.id) %>

      <div class="form-group">
        <%= f.label :input, "Answer" %>
        <%= f.text_area :input, :class => "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :code_link, "Link to your code" %>
        <%= f.text_field :code_link, :class => "form-control" %>
      </div>

      <%= f.submit "Submit", :class => "btn btn-primary" %>

      <% if task.solved_by?(current_user) %>
        <span class="label label-success">Solved!</span>
      <% elsif task.attempted_by?(current_user) %>
        <span class="label label-danger">Wrong answer</span>
      <% end %>
    <% end %>
    </div>
  <% end %>
<% else %>
  <p>Please sign in to solve this task.</p>
<% end %>
