<% unless signed_in? %>
  <div class="alert alert-warning" role="alert">
    You need to <%= link_to "sign in", signin_path %> or <%= link_to "register", new_user_path %> to solve this task.
  </div>
<% end %>

<div ng-app="ProblemPage" ng-controller="ProblemPage" problem-id="<%= @problem.id %>" authenticity-token="<%= form_authenticity_token %>">

  <alerts alerts="alerts"></alerts>

  <div class="header-container">
    <span class="h1">
      <%= @problem.title %>

      <small ng-show="problem.attempted && problem.solved"><span class="text-success">(Solved)</span></small>

      <small ng-show="problem.attempted">
        <span ng-class="{'text-success': problem.points_scored == problem.total_points, 'text-danger': problem.points_scored != problem.total_points}">
          ({{ problem.points_scored }} / {{ problem.total_points }})
        </span>
      </small>

      <% if signed_in? && current_user.admin? %>
        <%= link_to icon("edit"), edit_problem_path(@problem), :class => "btn btn-default pull-right", :title => "Edit" %>
      <% end %>
    </span>
  </div>

  <div class="panel panel-default">
    <div class="panel-body" data-mathjax-source>
      <%= markdown_to_html(@problem.statement) %>
    </div>
  </div>

  <% if signed_in? %>
    <div class="form-group">
      <label>Python Code</label>
      <div>
        <% if UserAgent.parse(request.env['HTTP_USER_AGENT']).platform == "Macintosh" %>
          <button type="button" class="btn btn-default" title="⌘-B" data-toggle="tooltip" data-placement="left" ng-click="runCode()">Run</button>
        <% else %>
          <button type="button" class="btn btn-default" title="Ctrl-B" data-toggle="tooltip" data-placement="left" ng-click="runCode()">Run</button>
        <% end %>

        <div class="btn-group">
          <button type="button" class="btn btn-default" ng-click="runCodeWithTestCases()">Run on Test Cases</button>
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" ng-if="problem.tasks_attributes.length">
            <span class="caret"></span>
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu" role="menu" ng-if="problem.tasks_attributes.length">
            <li ng-repeat="task in problem.tasks_attributes" ng-click="runCodeWithTestCases($index)" ng-hide="task.json"><a href>Test Case {{ $index + 1 }}</a></li>
          </ul>
        </div>

        <button type="button" class="btn btn-default" ng-click="submitAll()">Submit All Answers</button>
      </div>

      <div class="row jsrepl-container">
        <div class="col-md-6">
          <div ui-ace="{mode: 'python', theme: 'monokai', onLoad: aceLoad}" ng-model="code" style="height:400px;"></div>
        </div>
        <div class="col-md-6">
          <interactive-terminal history="terminalHistory"></interactive-terminal>
        </div>
      </div>
    </div>

    <hr>

    <div class="well" ng-repeat="task in problem.tasks_attributes">
      <label>Test Case {{ $index + 1 }} <span ng-show="task.label.length">({{ task.label }})</span></label>
      <div ng-hide="task.json && task.input_fields">
        <pre >{{ task.input }}</pre>
        <button type="button" class="btn btn-default" zero-clipboard="task.input">Copy</button>
      </div>

      <div ng-show="task.json && task.input_fields">
        <div class="form-group input-group" ng-repeat="field in task.input_fields">
          <span class="input-group-addon">{{ field.label }}</span>

          <input type="text" class="form-control task-input" readonly ng-value="field.content" ng-if="field.content.trim().indexOf('\n') == -1">

          <textarea class="form-control task-input" readonly ng-if="field.content.trim().indexOf('\n') != -1">{{ field.content }}</textarea>

          <span class="input-group-btn">
            <button class="btn btn-default" type="button" zero-clipboard="field.content">Copy</button>
          </span>
        </div>
      </div>

      <form action="<%= submissions_path %>" method="post">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="hidden" name="submission[task_id]" ng-value="task.id">
        <input type="hidden" name="submission[code]" ng-value="task.submission.code">

        <div class="form-group">
          <label>Answer</label>
          <textarea class="form-control" ng-model="task.submission.input" name="submission[input]" ng-disabled="{{ task.solved }}"></textarea>
        </div>

        <p class="help-block" ng-show="isNumber(task.submissions_left)">
          You have {{ task.submissions_left }} submissions left.
        </p>

        <input type="submit" class="btn btn-default" ng-class="{disabled: !task.submission_allowed}" value="Submit">

        <span class="label label-success" ng-show="task.solved">Solved!</span>
        <span class="label label-danger" ng-show="!task.solved && task.attempted">Wrong answer</span>
      </form>
    </div>
  <% end %>
</div>
