<% @user.errors.full_messages.each do |message| %>
  <div class="alert alert-danger" role="alert"><%= message %></div>
<% end %>

<p class="text-danger">* Required fields</p>
<%= form_for(@user) do |f| %>
  <div class="form-group required">
    <%= f.label :username %>
    <%= f.text_field :username, :class => "form-control", :required => true %>
  </div>

  <div class="form-group">
    <%= f.label :school %>
    <%= f.text_field :school, :class => "form-control" %>
  </div>

  <div class="form-group required">
    <%= f.label :email %>
    <%= f.text_field :email, :class => "form-control", :required => true, :pattern => "^.+?@.+?\\..+$" %>
  </div>

  <div class="form-group required">
    <%= f.label :password %>
    <%= f.password_field :password, :class => "form-control", :required => @user.new_record? %>
  </div>

  <div class="form-group required">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, :class => "form-control", :required => @user.new_record? %>
  </div>

  <% if @user.id %>
    <%= f.submit "Update", :class => "btn btn-default" %>
  <% else %>
    <%= f.submit "Register", :class => "btn btn-default" %>
  <% end %>
<% end %>
