<h1>Update Profile</h1>

<% @user.errors.full_messages.each do |message| %>
  <div class="alert alert-danger" role="alert"><%= message %></div>
<% end %>

<%= form_for(@user) do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, :class => "form-control" %>
  </div>

  <%= f.submit "Register", :class => "btn btn-primary" %>
<% end %>
