<h1>User Details</h1>

<p>Name: <%= @user.username %></p>

<% unless @user.school.to_s.empty? %>
  <p>School: <%= @user.school %></p>
<% end %>

<% if current_user && (current_user == @user || current_user.admin?) %>
  <p>Email: <%= @user.email %></p>
<% end %>

<% if current_user == @user %>
  <p><%= link_to "Edit profile", edit_user_path(@user) %></p>
<% end %>

<% if current_user && current_user.admin? %>
  <%= form_for(@user, :url => set_admin_path) do |f| %>
    <div class="checkbox">
      <label>
        <%= f.check_box :admin %>
        Admin
      </label>
    </div>

    <% if current_user == @user %>
      <%= f.submit "Save", :class => "btn btn-default", :data => { :confirm => "Are you sure you want to modify your own admin status?" } %>
    <% else %>
      <%= f.submit "Save", :class => "btn btn-default" %>
    <% end %>
  <% end %>
<% end %>

<% if @user.solved_problems.select { |problem| problem.visible_to?(current_user) }.any? %>
<h2>Solved problems</h2>
<ul>
  <% @user.solved_problems.select { |problem| problem.visible_to?(current_user) }.each do |problem| %>
    <li><%= link_to problem.title, problem %></li>
  <% end %>
</ul>
<% end %>
