<div>
  <span class="h1">Submission <%= @submission.id %></span>
  <span class="pull-right small"><%= link_to "More submissions by #{@submission.user.username}", user_submissions_path(@submission.user) %></span>
</div>

<h2>Input</h2>
<pre><%= InputEncoder::Python.encode(@submission.task.raw_input(@submission.user)) %></pre>
<h2>Your Answer</h2>
<pre class="disable-select"><%= @submission.input %></pre>

<% unless @submission.code.empty? %>
  <h2>Code</h2>
  <%= render :partial => "partials/python_interpreter", :locals => { :code => @submission.code, :show_label => false } %>
<% end %>

<% if signed_in? && current_user.admin? &&
    @submission.task.problem.codes.where(:user_id => @submission.user).any? &&
    !@submission.task.problem.codes.where(:user_id => @submission.user).first.code.strip.empty? %>
  <h2>Code from the editor</h2>
  <pre><%= @submission.task.problem.codes.where(:user_id => @submission.user).first.code %></pre>
<% end %>

<p>
  Status:
  <% if @submission.accepted? %>
    <span class="label label-success">Accepted</span>
  <% elsif @submission.accepted.nil? %>
    <span class="label label-warning">Ungraded</span>
  <% else %>
    <span class="label label-danger">Wrong Answer</span>
  <% end %>
</p>
